.contact-container {
  max-width: 1000px;
  margin: auto;
  padding: 100px 0 100px 0;
  text-align: center;
  .faq {
    &__title {
      font-size: 20px;
      font-weight: 500;
    }
    &__elements {
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
      .category {
        flex: 1 0 25%;
        margin: 20px 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;

        padding: 20px 10px;
        &__icon {
          padding: 10px;
          align-items: center;
          font-size: 32px;
        }
        &__name {
          text-align: center;
          font-weight: 500;
          width: 100%;
          letter-spacing: 2px;
        }
      }
    }
  }
  .contact {
    padding: 50px 0;
    max-width: 700px;
    margin: auto;
    &__title {
      font-size: 20px;
      font-weight: 500;
      padding: 20px 0;
    }
    &__modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(
        0,
        0,
        0,
        0.4
      ); /* Black w/ opacity *
      
      /* Modal Content/Box */
      .modal-content {
        max-width: 1000px;
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px 20px 50px 20px;
        min-height: 500px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        p {
          max-width: 500px;
          margin: auto;
          text-align: left;
          padding-bottom: 5px;
        }
        input,
        textarea,
        button {
          max-width: 500px;
          width: 100%;
          margin: auto;
        }
        textarea {
          padding-top: 5px;
        }

        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;

          &:hover,
          &:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
    &__elements {
      padding: 20px 0;
      display: flex;
      justify-content: space-evenly;

      .category {
        padding: 20px 0;
        width: 30%;
        height: 200px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &__icon {
          padding: 10px 0;
          font-size: 32px;
        }
        &__btn {
          margin: 0 30px;
          padding: 10px 0;
          background-color: black;
          color: white;
          font-size: 14px;
          font-weight: 500;

          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            cursor: pointer;
          }
        }
        &__desc {
          padding: 10px 20px;
          font-size: 14px;
        }
      }
    }
  }
}
